Type Conversions

In [ ]:
#This is type conversion code
result='10'
print(type(result))
print(float(result))
print(int(result))

In [ ]:
#Converting string into list  
mystring='abcdef'
print(type(mystring))
print(list(mystring))
print(tuple(mystring))

#converting a list to Tuple
mylist=['abc',10,'def',25.5]
print(type(mylist))
print(tuple(mylist))

#converting list to string
changed_string=str(mylist)
print(changed_string)
print(type(changed_string))

#working with dictionary
#converting dictionary to list - it will consider only values and not keys
my_dict={'name':'Yatheesh', 'age': 22}
print(list(my_dict))

#converting range to list and tuple
my_range=range(10)
print(list(my_range))
print(tuple(my_range))

#OPERATORS

Arithematic Operators

In [ ]:
#ARITHEMATIC OPERATORS

#Addition (+)
print(2+3)
print('hello'+'world')
print(10.234+63.248)
list1=['hello','Yatheesh', 10,55]
list2=['i am','God',100,6348]
print(list1+list2)
print(False+True)
#list and tuple cannot be added

#Subtraction (-)
print(2-3)
print(10.23-6.874)
print(True-True)


#Multiplication(*)
print('&&&&&&&&&&&&&&&&&&&')
print('&'*15)
mystringo='class'
print(mystringo*5)


#Division(/)
print(98/32)
print(False/6)

#Floor Division (//) - Removes decimal places and keeps only integer
print(7/3)
print(7//3)

#exponents(**)
print(2**5)
print(25**6)

#Modulus(%)
print(18.368%4)

Assigment Operators

In [ ]:
#ASSIGNMENT OPERATORS

var1=10
var2=10
var1+=20 #var1=var1+20
var2-=30 #var2=var2-20
print(var1,var2)

Comparison Operators

In [ ]:
#COMPARISON OPERATORS
var1=10
var2=20
var3=20
print(var1==var2)
print(var2==var3)
print(10==20)
print('hello'=='helllooo')
print(False==False)

print(10<20)
print(20.34>845.368)

Logical Operators

In [ ]:
#LOGICAL OPERATORS

print(True and True)
print(True and False)
print(True or False)
var1=10
var2=55
str1='hello'
str2='hello'
print(var1<var2 and str1 != str2)

# New Section